@font-face {
	font-family: 'Oranienbaum';
	src: local('./fonts/Oranienbaum.ttf'),
		url('./fonts/Oranienbaum.ttf') format('ttf');
}

@font-face {
	font-family: 'Roboto-Bold';
	src: local('./fonts/Roboto-Bold.ttf'),
		url('./fonts/Roboto-Bold.ttf') format('ttf');
}

.page-container {
  font-family: 'Roboto', sans-serif;
}

.header {
  font-family: Oranienbaum;
  font-size: 1rem;
  color: white;
  position: relative;
}

.header__background {
  width: 100%;
}

.header_line {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgb(129 129 152 / 0%) 100%, rgba(255,255,255,0) 100%);
}

.header_menu > a, .icon_img, .number, .icons_link > a, .footer_menu > a, .footer_item, a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: white;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  width: 55%;
  align-items: center;
}

.header_link {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: flex-end;
}

.icons_link--wrapper {
  display: flex;
  margin-left: 50%;
}

.icon_link {
  margin-right: 5px;
}

.icon_img {
  width: 25px;
}

.numbers_link {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.header_banner-text {
  padding: 15px 40px;
  position: absolute;
  top: 25%;
}

.header_logo {
width: 65%;
}

.header_logo--img {
  width: 100%;
}

.header_text {
  margin-top: 25px;
}

.header_description {
  margin-top: 5px;
  color: #cdb380;
  border-bottom: solid #cdb380 1px;
  cursor: pointer;
}

.section1_text--inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 80px;
}

.section1_title, .section4_title, .section5_title{
  font-family: 'Oranienbaum';
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.section1_description {
  font-family: Roboto, sans-serif;
  padding-top: 25px;
  font-size: 1rem;
}

.section1_banner--img {
  width: 100%;
}

.section1_text {
  position: relative;
}

.section1_wrapper--ribbon {
  position: absolute;
  left: 0;
  top: 0;
}

.section1_ribbon {
  left: -64px;
  position: absolute;
  top: 32px;
  height: 30px;
  width: 206px;
  background-color: #fe0d3a;
  color: white;
  text-align: center;
  transform: rotate(-45deg);
  z-index: -1;
  box-shadow: 0 10px 28px rgb(0 0 0 / 20%), 0 10px 10px rgb(0 0 0 / 15%);
}    

.section1_banner--description{
  display: flex;
  justify-content: center;
  color: gray;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;}

.section2 {
  font-family: 'Roboto';
  padding: 60px 180px;
}

.section2_title {
  font-family: 'Oranienbaum';
  font-size: 2rem;
}

.section2_description1 {
  line-height: 3.5rem;
}

.section2_description2 {
  padding: 20px 100px 40px 100px;
}

.section2_grid {
  background-color: #fff000; 
  font-family: 'Roboto-Bold', sans-serif;
  font-weight: bolder;
}

.section2_row {
  text-align: center;
}

.section2_row--important {
  background-color: #ffd100; 
  text-align: center;
  font-size: 1.1rem;
}

.col-sm-2 {
  padding: 10px 0px;
  border: solid #fdbc00 1px;
  font-size: 0.8rem;
}

.col-sm-6 {
  text-align: start;
  padding: 10px;
  border: solid #fdbc00 1px;
  padding-left: 15px;
}

.content_border {
  border: solid #000000 1px;
  padding: 5px;
}

.section2_button {
  border-radius: 3px;
  color: white;
  background-color: black;
  padding: 3px 7px;
}

.section3_banner--img {
  width: 100%;
}

.section4_bloсk--inner > div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section4_title {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.section4_bloсks {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 50px;
}

.section4_bloсk--inner {
  border: solid #a59b9b5c 2px;
  width: 22%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
  transition: 0.3s ease-in-out;
}

.section4_bloсk--inner:hover {
  border: solid #5c4e4e5c 2px;
  box-shadow: 0px 0px 25px 7px #d9d9d9;
}

.section4_price {
  position: relative;
  color: #a7a0a0;
}

.section4_price--line {   
  position: absolute;
  transform: rotate(165deg);
  height: 2px;
  top: 30%;
  width: 30%;
  background-color: #ff0c3a;
}

.section4_button {font-size: 0.7rem;
  border: none;
  background-color: #ff0c3a;
  color: white;
  border-radius: 3px;
  padding: 7px 50px;
  margin: 10px;
}

.section5 {
  margin: 0 25%;
}

.section5_title {
  justify-content: flex-start;
}

.section5_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section5_gallery > div {
  display: flex;
  align-items: center;
  margin: 30px 0;
}

.section5_gallery > a {
  width: 70%;
}

.section5_gallery--img, .footer_menu > a, .footer_menu > div {
  width: 100%;
}

.section5_gallery--text {
  margin: 0 15%;
}

.footer {
  color: white;
  background-color: black;
  padding: 50px 20px;
}

.footer_menu {
  display: flex;
  flex-wrap: wrap;
}

.footer_button--wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.footer_button {
  background-color: black;
  border: solid #ffffff 1px;
  padding: 3px 15px;
  transition: 0.2s ease-in-out;
}

.footer_button:hover {
  filter: contrast(0.8);
}


@media (max-width: 976px) {
 html {
  font-size: 12px;
 }

 .section2 {
  padding: 60px 100px;
 }

 .section5 {
  margin: 0px 15%;
 }
}

@media (max-width: 768px) {
  .header_menu {
    width: 100%;
    margin: 0 10%;
  }

  .header_link {
    display: none;
  }

 .section2 {
   padding: 50px 50px;
 }

 .header_text {
   display: none;
 }

 .section4_bloсk--inner {
  width: 30%;
 }
}

@media (max-width: 600px) {
  .section2_grid {
    display: none;
  }

  .header_menu {
    margin: 0;
    font-size: 1.2rem;
}
}

@media (max-width: 480px) {
  .header__background {
    width: 120%;
    overflow: hidden;
}

  .header_menu {
    flex-wrap: wrap;
  }

  .header_item {
    margin-right: 5px;
  }

  .section2_description1 {
    line-height: 2.5rem;
  }

  .section2_description2 {
    padding: 20px 50px 0px 50px;
  }

  .section4_bloсk--inner {
    width: 60%;
    margin-bottom: 20px;
  }

  .section4_bloсks {
    flex-wrap: wrap;
  }

  .section4_title {
    margin: 40px 0;
  }

  .section5_gallery--text {
    margin: 0px 8%;
  }

  .section5 {
    margin: 0px 8%;
  }
  
  .header_logo {
    width: 50%;
  }
  
  .header_banner-text {
    top: 35%;
  }

}

@media (max-width: 320px) {
  .header__background {
    width: 140%;
  }

}